<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663574246797-ic2prat164uut22dirud5fh39kahs8nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663574246797-ic2prat164uut22dirud5fh39kahs8nk</string>
	<key>API_KEY</key>
	<string>AIzaSyDahM4vZeqS3TRMmk1mqeC0jq1_6AILNVc</string>
	<key>GCM_SENDER_ID</key>
	<string>663574246797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ssfs.DormPass</string>
	<key>PROJECT_ID</key>
	<string>dorm-pass</string>
	<key>STORAGE_BUCKET</key>
	<string>dorm-pass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:663574246797:ios:938dc76338e02b6e</string>
	<key>DATABASE_URL</key>
	<string>https://dorm-pass.firebaseio.com</string>
</dict>
</plist>